.menu-container {
  display: flex;
  justify-content: flex-end;
  // background-color: lightgray;
  margin-bottom:1vh;
  
}

.menu--closed .menu__items {
  opacity: 0;
}

.menu__buttons {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.hamburger-react {
  position:absolute;
  z-index: 20;

}


.menu--items {
  display: flex;
  align-items: center;
  flex-direction: column;
   justify-content: center; 
  background-color:  #F4F4F2;
  width: 100vw;
  height: 100vh;
  margin-top: 0;
  
 
  border-radius: 5px;

   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
}

.menu--closed {
  margin-top: -100vh;
 }


.menu{
  z-index: 10;
  position: fixed;
  transition: all 1.3s ease-in-out;}
  
  
  //menu links
  
  .menu--link {
    font-family: 'Nunito', sans-serif;
        z-index: 5;
    display: block;
    padding: 1.5rem 4rem;
    margin: 0.5rem;
    text-decoration: none;
  }
  
  .menu--link--active {
    text-align: center;
    width: 100%;
    
  }
  
 
//wave elements and logo - background

  .logo--menu--bg{
    position:absolute;
    top:80vh;
    z-index: 2;
  }

  .wave--menu--bottom {
    position: absolute;
    top:103vh;
  }
  .wave--menu--mid {
    position: absolute;
    top:45vh;
  }
  .wave--menu--top {
    position: absolute;
    top:-30vh;
  }
  
  
  
  // 628E60
  // 8CAD8B
