.info-img {
  width: 45vh;
  margin: 0 auto;
  margin-top: 2rem;
}

.info-container {
  height: 85vh;
}

.info-accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.info-accordion--item {
  padding: 10px;
  width: 85vw;
}

.info-accordion--title {
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  border: 0.5px solid rgb(133, 133, 133);
  background-color: #fff;
  // box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  padding: 5px 0px 50x 0;
  height: 48px;
  color: #008658;
  font-size: 18px;
  border-radius: 10px;
}

// .info-accordion--title:hover {
//   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
// }

.info-accordion--title,
.info-accordion--content {
  padding: 1rem;
}

.info-accordion--content {
  font-size: 15px;
  color: black;
  background-color: #e0e9de;
  line-height: 1.3;
}

.info-accordion--content p {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

/* accordion icon */
.accordion_icon {
  transition: transform 0.8 ease;
}

/* style to rotate icon when state is active */
.rotate {
  transform: rotate(180deg);
}
