.form {
  margin: auto;
}

.about-container {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
}

.about-container p {
  width: 340px;
  margin: auto;
}

.about-container h1 {
  margin-bottom: 10px;
}

.contactform-container {
  margin-left: auto;
  margin-right: auto;
  width: 360px;
}

.contactform-container h1 {
  width: 340px;
  margin: auto;
  margin-top: 2rem;
}

/* send button */
.send {
  all: unset;
  background-color: #628e60;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 10px;
  margin: 10px 95px;
  cursor: pointer;
  // position: relative;
}

.subject input {
  all: unset;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  // background-color: white;
  color: #000;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 10px;
  margin: 10px 40px;
  cursor: pointer;
  max-width: 70%;
}

.subject textarea {
  all: unset;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  // background-color: white;
  width: 250px;
  height: 180px;
  color: #000;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 10px;
  margin: 10px 40px;
  cursor: pointer;
  max-width: 300px;
}
