$mainGreen-color: #628E60;
$black-text-color: #1C1B1B;
$darkGreen-text-color: #2a412f;
$lightGreen-color: #7CAC79;
$green-color: #008658;
$white-color: #ffffff;
$lightGray-color: #f7f7f5;
$gray-color: #DADADA;
$purple-color: #7871AA;
$blue-color: #327DA3;
$lightBlue-color: #63CFCB;
$orange-color: #ED8428;
$sandy-color: #E7B562;
$red-color: #FF0000;
$darkPink-color: #BD5F60;
$lightPink-color: #F4B09B;



