@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

//font
$main-font: "Nunito", sans-serif;

//base
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $main-font;
}

//colors
$mainGreen-color: #628e60;
$black-text-color: #1c1b1b;
$darkGreen-text-color: #2a412f;
$lightGreen-color: #7cac79;
$green-color: #008658;
$white-color: #ffffff;
$lightGray-color: #f7f7f5;
$gray-color: #dadada;
$purple-color: #7871aa;
$blue-color: #327da3;
$lightBlue-color: #63cfcb;
$orange-color: #ed8428;
$sandy-color: #e7b562;
$red-color: #ff0000;
$darkPink-color: #bd5f60;
$lightPink-color: #f4b09b;
