.marker-button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  outline: none;
  cursor: pointer;
}

.navigation {
  position: absolute;
  top: 10px;
  right: 10px;
}

.navigation > * {
  position: static !important;
  /* position: fixed;
  z-index: 10; */
}

.hide {
  display: none;
}

.map--buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  height: 40vh;
  width: 100vw;
  margin-bottom: 0.5rem;
}

.button--find {
  width: 100vw;
  height: 5vh;
}
