.navigation {
  position: absolute;
  top: 70px;
  right: 10px;
}

.navigation > * {
  position: static !important;
  /* position: fixed;*/
}

.hide {
  display: none;
}

.marker--pin{
  stroke:green;
  fill:green;}
.cls-2{fill:white;}



//BIN SLIDER : 

.bin--slider {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  transition: all 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  padding:32px;
  z-index: 5;
  width: 100vw;
  height: 53vh;
  position:fixed;
  background: #F7F7F5;
  font-family: 'Nunito', sans-serif;

}

.bin--slider--open{
  bottom:0;
  
}

.bin--slider--closed{
  bottom:-50vh;
  
}

.bin--slider--arrow{
  position:absolute;
  left:45vw;
  top:-2vh;
  pointer-events: all;
}

//BIN SLIDER INFO

.bin--slider--info {
  text-align: center;
  padding-block:8vh;
  
  border-bottom: hsla(1, 0, 0, 0.1) 1px solid;
}

.bin--slider--name{

}

.bin--slider--location{
  padding-top: 8px;
}

.bin--slider--blobs {
  padding-top: 24px;
  display:flex;
  justify-content: space-evenly;
  align-content: center;
}

.bin--slider--blob {
  display:flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  // border:rgba(16, 16, 16, 0.3) 1px solid;
  border-radius: 8px;
}
.bin--slider--material--name{
  text-align: center;
}


//Bin popups - on the map 

.bin--popup--box {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.bin--popup--info {
  font-size: 0.8em;
  text-align: center;
}


//FILTER BUTTONS:

.map--buttons {
  
  margin-top:3vh;
  display: grid;
  align-content: space-evenly;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  height: 40vh;
  width: 100vw;
  margin-bottom: 0.5rem;
}

svg{transition: all 1.1s cubic-bezier(0.44, 0.6, 0.22, 1.54);
  pointer-events:none;}
  
  .filter--btns{
    transition:all 1.1s cubic-bezier(0.44, 0.6, 0.22, 1.54);
  position:relative;
  overflow:hidden;
  width:88px;
  height:88px;
  border:none;
  border-radius:8px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  padding: 8px;  
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.filter--btn{
  position:relative;
  background:#F7F7F5;
}

.filter--icon {
height:32px;
width:32px;

}
.filter--icon--active {
  justify-self: center;
align-self: center;
  stroke:#F7F7F5 !important;
transform: scale(1.5);
}

.filter--span{
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  pointer-events:none;
  padding-top: 12px;
  transition: all 1.1s cubic-bezier(0.44, 0.6, 0.22, 1.14);
  color:black;

}

.filter--span--disabled {
 color: rgba(16, 16, 16, 0.3);
}

.filter--span--active{
  color:#F7F7F5;
  transform: translatey(50px);
  font-size: 0;
  opacity: 0;
}


.filter--plastic{
  background:#BD5F60}
.filter--bottles{
  background:#E7B562}
.filter--paper{
  background:#7871AA}
.filter--clothes{
  background:#008658}
.filter--glass{
  background:#9DE1DF}
.filter--metal{
  background:#FF8B26}
.filter--organic{
  background:#7CAC79}
.filter--medicine{
  background:#F4B09B}
.filter--battery{
  background:#327DA3}